<form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="sign-in-form">
  <h2 class="mat-h2">Sign In</h2>
  <p>
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>Username</mat-label>
      <input 
        class="asd"
        matInput 
        placeholder="Enter your username" 
        formControlName="username" 
        name="username" 
        autocomplete="new-username">
    </mat-form-field>
    <mat-error *ngIf="showErrors(signInForm.controls.username) && signInForm.controls.username.errors?.required">
      Please enter a username
    </mat-error>
  </p>
  <p>
    <mat-form-field appearance="standard" class="form-field">
      <mat-label>Password</mat-label>
      <input 
        matInput        
        placeholder="Enter your password" 
        formControlName="password" 
        name="password" 
        type="password" 
        autocomplete="new-password">
    </mat-form-field>
    <mat-error *ngIf="showErrors(signInForm.controls.password) && signInForm.controls.password.errors?.required">
      Please enter a password
    </mat-error>
  </p>
  <button mat-raised-button color="primary" type="submit" [disabled]="!signInForm.valid">Sign In</button>
</form>