<mat-card class="workout-card">
  <mat-card-header>
    <mat-card-title>{{ workout.title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://www.planetfitness.com/sites/default/files/feature-image/xbreak-workout_602724.jpg.pagespeed.ic.v8byD7su-e.jpg" alt="Workout">
  <mat-card-content>
    <p>
      {{ workout.description }}
    </p>
  </mat-card-content>
  <mat-card-actions class="action-buttons">
    <button mat-button>View</button>
    <button mat-icon-button *ngIf="isOwner()" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isOwner()" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>