<nav mat-tab-nav-bar color="primary" backgroundColor="primary">
  <div class="app-nav">
    <div>
      <a mat-tab-link routerLink="/workouts" routerLinkActive="active" #workouts [active]="workouts.classList.contains('active')">Workouts</a>
      <a mat-tab-link *ngIf="isSignedIn" routerLink="/workout-create" routerLinkActive="active" #workoutCreate [active]="workoutCreate.classList.contains('active')">Create</a>
    </div>
    <div>
      <a mat-tab-link *ngIf="!isSignedIn" routerLink="/sign-in" routerLinkActive="active" #signIn [active]="signIn.classList.contains('active')">Sign In</a>
      <a mat-tab-link *ngIf="!isSignedIn" routerLink="/sign-up" routerLinkActive="active" #signUp [active]="signUp.classList.contains('active')">Sign Up</a>
      <a mat-tab-link *ngIf="isSignedIn" routerLink="/sign-out" routerLinkActive="active" #signOut [active]="signOut.classList.contains('active')">Sign Out</a>
    </div>
  </div>
</nav>